name: rust-build-with-nu
on: 
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repository to build with nu'
        required: true
        default: 'nushell/nushell'

run-name: Build with nu ${{ github.event.inputs.repo }}
jobs:
  build:
    runs-on: "windows-latest"
    steps:
      - name: checkout build.nu
        uses: actions/checkout@v6.0.1
        with:
          sparse-checkout: |
            prepare-build.nu
          sparse-checkout-cone-mode: false
          
      - name: Setup Nushell
        uses: hustcer/setup-nu@v3.22
        with:
          version: 0.110.0

      - name: Setup Rclone
        uses: AnimMouse/setup-rclone@v1.12.0
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}

      - name: Prepare Build
        run: |
          echo "REPOSITORY=${{ github.event.inputs.repo }}" | Out-File -FilePath $env:GITHUB_ENV -Append
          nu prepare-build.nu
        env:
          REPOSITORY: ${{ github.event.inputs.repo }}

      - name: Setup Rust toolchain and cache    
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          target: x86_64-pc-windows-msvc
          rust-src-dir: repo
          # toolchain: 1.94.0
          # components: release
          rustflags: ""
    
      - name: Run Build
        id: nu
        run: |
          echo "REPOSITORY=${{ github.event.inputs.repo }}" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN }}" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "TELEGRAM_TO=${{ secrets.TELEGRAM_TO }}" | Out-File -FilePath $env:GITHUB_ENV -Append
          nu build.nu
        env:
          REPOSITORY: ${{ github.event.inputs.repo }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_TO: ${{ secrets.TELEGRAM_TO }}